
<ion-content>

  
  <img *ngIf="glitched" class="hip" src="./assets/Imagenes/glitch.gif" alt="LOGO">
    
  <p *ngIf="notLogged" class="warning">NOT LOGGED IN</p>
  <div *ngIf="notLogged" class="botoW" (click)="goHome()">
      GO HOME
  </div>
  <img *ngIf="notLogged" class="fullScreen" src="./assets/Imagenes/notLogged.gif" alt="notLogged"> 


  <ion-title *ngIf="menuOFF && !glitched && !notLogged" class="menuOFF">
    <div class="headerInfo3">
      <img (click)="showTheMenu()" onmouseout="this.src='./assets/Imagenes/logo.png'" onmouseover="this.src='./assets/Imagenes/logoHoverTransparenteNegro.gif'"src="./assets/Imagenes/logo.png" alt="LOGO">
      <div class="headerInfo2">
        <div class="nom">
          {{nombre}}

        </div>
        <div class="saldo">
          Saldo: {{saldo}}
        </div>
        
      </div>
    </div>
    <div class="headerInfo4">
      <img (click)="showTheMenu()" onmouseout="this.src='./assets/Imagenes/logo.png'" onmouseover="this.src='./assets/Imagenes/logoHoverTransparenteNegro.gif'"src="./assets/Imagenes/logo.png" alt="LOGO">
        <div class="nom">
          {{nombre}}
        </div>
  
        <div class="saldo">
          Saldo: {{saldo}}
        </div>
    </div>
  </ion-title>

  <ion-title *ngIf="!menuOFF && !glitched && !notLogged" class="menuON">
    <div class="headerInfo">
      <img (click)="showTheMenu()" onmouseout="this.src='./assets/Imagenes/logoVerde.png'" onmouseover="this.src='./assets/Imagenes/logoHoverTransparenteVerde.gif'" src="./assets/Imagenes/logoVerde.png" alt="LOGO">
    
      <div class="boto1" (click)="goHome()">
        <button class="cybr-btn">
          Principal<span aria-hidden>_</span>
          <span aria-hidden class="cybr-btn__glitch">Principal_</span>
          <span aria-hidden class="cybr-btn__tag">R00</span>
        </button>
      </div>
      <div class="boto2" (click)="goBorsa()">
        <button class="cybr-btn" >
          Borsa<span aria-hidden>_</span>
          <span aria-hidden class="cybr-btn__glitch">Borsa_</span>
          <span aria-hidden class="cybr-btn__tag">R01</span>
        </button>
      </div>
      <div class="boto3" (click)="goEspai()">
        <button class="cybr-btn">
          Espai<span aria-hidden>_</span>
          <span aria-hidden class="cybr-btn__glitch">Espai_</span>
          <span aria-hidden class="cybr-btn__tag">R03</span>
        </button>
      </div>

    </div>
  </ion-title>

  <div class="recommended" *ngIf="!notLogged">
    <div class="container">
      <!-- LEFT -->
      <div class="item">
        <div class="recomanat">Defensa recomanada</div>
        <ion-card color="light">
            <span *ngIf="!defensa.isEdit; else elseBlock">
              <ion-card-header>
                <div *ngIf="!defc" (click)="defc = true">
                  <div class="photo">
                    <img src="{{defensa.foto}}" alt="Imatge de empresa">
                    <div class="middle">
                      <div class="text">Més informació</div>
                    </div>
                  </div>
                  <div class="subtituloImagen">
                    {{defensa.nombre}}
                  </div>
                </div>
                <div *ngIf="defc" (click)="defc = false" class="info">
                  <ion-card-title>Producte: {{defensa.nombre}}</ion-card-title>
                  <ion-card-subtitle>Descripció: {{defensa.descripcio}}</ion-card-subtitle>
                  <ion-card-subtitle>Preu: {{defensa.preu}}</ion-card-subtitle>
                  <ion-card-subtitle>Stock: {{defensa.quantitat}}</ion-card-subtitle>
                </div>
                <div *ngIf="defc" class="baileDelDinero" (click)="pagar(defensa.preu)">
                  <br>
                  <span *ngIf="!defensa.bought && !cargando" (click)="defensa.bought = true" >COMPRAR</span>
                  <img *ngIf="cargando" src="./assets/Imagenes/loading.gif" alt="Cargando">
                  <img *ngIf="defensa.bought && !cargando" src="./assets/Imagenes/whiteTick.png" alt="Conseguido">
                </div>
              </ion-card-header>
            </span>
        </ion-card>
      </div>
      <!-- MIDDLE -->
      <div class="item">
        <p>
          New Order Shop
        </p>
      </div>
      <!-- RIGHT -->
      <div class="item">
        <div class="necessari">Consumible recomanat</div>
        <ion-card color="light">
          <span *ngIf="!consumible.isEdit; else elseBlock">
            <ion-card-header>
              <div *ngIf="!conc" (click)="conc = true">
                <div class="photo">
                  <img src="{{consumible.foto}}" alt="Imatge de empresa">
                  <div class="middle">
                    <div class="text">Més informació</div>
                  </div>
                </div>
                <div class="subtituloImagen">
                  {{consumible.nombre}}
                </div>
              </div>
              <div *ngIf="conc" (click)="conc = false"  class="info">
                <ion-card-title>Nombre: {{consumible.nombre}}</ion-card-title>
                <ion-card-subtitle>Descripció: {{consumible.descripcio}}</ion-card-subtitle>
                <ion-card-subtitle>Preu: {{consumible.preu}}</ion-card-subtitle>
                <ion-card-subtitle>Stock: {{consumible.quantitat}}</ion-card-subtitle>
              </div>
              <div *ngIf="conc" class="baileDelDinero" (click)="pagar(consumible.preu)">
                <br>
                <span *ngIf="!consumible.bought && !cargando" (click)="consumible.bought = true" >COMPRAR</span>
                <img *ngIf="cargando" src="./assets/Imagenes/loading.gif" alt="Cargando">
                <img *ngIf="consumible.bought && !cargando" src="./assets/Imagenes/whiteTick.png" alt="Conseguido">
              </div>
            </ion-card-header>
          </span>
      </ion-card>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="jobs" *ngIf="!notLogged">
    <ion-card *ngFor="let item of productList" color="light">
      <span *ngIf="!item.isEdit; else elseBlock">
        <ion-card-header>
          <div *ngIf="!item.clicked" (click)="item.clicked = true">
            <div class="photo">
              <img src="{{item.foto}}" alt="Imatge de empresa">
              <div class="middle">
                <div class="text">Més informació</div>
              </div>
            </div>
            <div class="subtituloImagen">
              {{item.nombre}}
            </div>
          </div>
          <div *ngIf="item.clicked" (click)="item.clicked = false"  class="info">
            <ion-card-title>Nombre: {{item.nombre}}</ion-card-title>
            <ion-card-subtitle>Descripció: {{item.descripcio}}</ion-card-subtitle>
            <ion-card-subtitle>Preu: {{item.preu}}</ion-card-subtitle>
            <ion-card-subtitle>Stock: {{item.quantitat}}</ion-card-subtitle>
          </div>
          <div *ngIf="item.clicked" class="baileDelDinero" (click)="pagar(item.preu)">
            <br>
            <span *ngIf="!item.bought && !cargando" (click)="item.bought = true">COMPRAR</span>
            <img *ngIf="cargando" src="./assets/Imagenes/loading.gif" alt="Cargando">
            <img *ngIf="item.bought && !cargando" src="./assets/Imagenes/whiteTick.png" alt="Conseguido">
          </div>
        </ion-card-header>
      </span>
    </ion-card>
    </div>

</ion-content>
