<ion-content>

  <p *ngIf="notLogged" class="warning">NOT LOGGED IN</p>
  <div *ngIf="notLogged" class="botoW" (click)="goHome()">
      GO HOME
  </div>
  <img *ngIf="notLogged" class="fullScreen" src="./assets/Imagenes/notLogged.gif" alt="notLogged"> 


  <div class="example1">
    <h3>{{webTicker}} </h3>
    </div>
<div class="container">
  <!-- LEFT SIDE-->
  <div class="itemL">
    <p class="menu">CONTROL DE DADES</p>

    <div class="boto1" (click)="presentModal()">
      <button class="cybr-btn">
        Treball<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Treball_</span>
        <span aria-hidden class="cybr-btn__tag">G01</span>
      </button>
    </div>

    <ion-item>
     <ion-textarea autogrow="true" rows="30"type="text" [(ngModel)]="webTicker" text-right id="input" ></ion-textarea>
    </ion-item>

    <div class="infouser">
      <h1 class="menu">USUARIS REGISTRATS</h1>
      <h2 class="menu">{{registrats}}</h2>
    </div>
  </div>
  
  
  
  <!-- CENTRAL -->

  <div class="item-center">
    <img *ngIf="plovent" class="lluvia" src="./assets/Imagenes/rain.gif" alt="LOGO">
    <img *ngIf="raig" class="lluvia" src="./assets/Imagenes/trueno.gif" alt="LOGO">
    <img *ngIf="asalt2" class="lluvia" src="./assets/Imagenes/asalt.gif" alt="LOGO">
    <img src="{{mapa}}" alt="LOGO">
    <div class="infopanel">
      <h1 class="trimmed3">INFO PANEL</h1>

      <h2 class="trimmed">{{info}}</h2>
      <h2 class="trimmed2">{{info2}}</h2>
    </div>

  </div>
  <!-- RIGHT SIDE -->


  <div class="itemR">
    <p class="menu">CONTROL COMUNITATS</p>
    <div class="boto2" (click)="mostrarSaldo()">
      <button class="cybr-btn">
        Mostrar Saldo<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Mostrar Saldo_</span>
        <span aria-hidden class="cybr-btn__tag">C01</span>
      </button>
    </div>
    <div class="boto2" (click)="mostrarEstat()">
      <button class="cybr-btn">
        Mostrar Estat<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Mostrar Estat_</span>
        <span aria-hidden class="cybr-btn__tag">C02</span>
      </button>
    </div>
    <div class="boto2" (click)="inundacio()">
      <button class="cybr-btn2">
        Inundació<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Inundació_</span>
        <span aria-hidden class="cybr-btn__tag">C03</span>
      </button>
    </div>
    <div class="boto2" (click)="tempestaElectrica()">
      <button class="cybr-btn3">
        Tempesta<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Tempesta_</span>
        <span aria-hidden class="cybr-btn__tag">C04</span>
      </button>
    </div>
    <div class="boto2" (click)="asalt()">
      <button class="cybr-btn4">
        Asalt<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Asalt_</span>
        <span aria-hidden class="cybr-btn__tag">C05</span>
      </button>
    </div>
  </div>

</div>
</ion-content>
