
<ion-content >

  <img *ngIf="glitched" class="hip" src="./assets/Imagenes/glitch.gif" alt="LOGO">
  <p *ngIf="notLogged" class="warning">NOT LOGGED IN</p>
  <div *ngIf="notLogged" class="botoW" (click)="goHome()">
      GO HOME
  </div>
  <img *ngIf="notLogged" class="fullScreen" src="./assets/Imagenes/notLogged.gif" alt="notLogged"> 

  <ion-title *ngIf="menuOFF && !glitched && !notLogged" class="menuOFF">
    <div class="headerInfo3">
      <img (click)="showTheMenu()" onmouseout="this.src='./assets/Imagenes/logo.png'" onmouseover="this.src='./assets/Imagenes/logoHoverTransparenteNegro.gif'"src="./assets/Imagenes/logo.png" alt="LOGO">
      <div class="headerInfo2">
        <div class="nom">
          {{nombre}}
        </div>
  
        <div class="saldo">
          Saldo: {{saldo}}
        </div>
      </div>
    </div>
    <div class="headerInfo4">
      <img (click)="showTheMenu()" onmouseout="this.src='./assets/Imagenes/logo.png'" onmouseover="this.src='./assets/Imagenes/logoHoverTransparenteNegro.gif'"src="./assets/Imagenes/logo.png" alt="LOGO">
        <div class="nom">
          {{nombre}}
        </div>
  
        <div class="saldo">
          Saldo: {{saldo}}
        </div>
    </div>
  </ion-title>

  <ion-title *ngIf="!menuOFF && !glitched && !notLogged" class="menuON">
    <div class="headerInfo">
      <img (click)="showTheMenu()" onmouseout="this.src='./assets/Imagenes/logoVerde.png'" onmouseover="this.src='./assets/Imagenes/logoHoverTransparenteVerde.gif'" src="./assets/Imagenes/logoVerde.png" alt="LOGO">
    
      <div class="boto1" (click)="goHome()">
        <button class="cybr-btn">
          Principal<span aria-hidden>_</span>
          <span aria-hidden class="cybr-btn__glitch">Principal_</span>
          <span aria-hidden class="cybr-btn__tag">R00</span>
        </button>
      </div>
      <div class="boto2" (click)="goBorsa()">
        <button class="cybr-btn" >
          Borsa<span aria-hidden>_</span>
          <span aria-hidden class="cybr-btn__glitch">Borsa_</span>
          <span aria-hidden class="cybr-btn__tag">R01</span>
        </button>
      </div>
      <div class="boto3" (click)="goDefensa()">
        <button class="cybr-btn">
          Botiga<span aria-hidden>_</span>
          <span aria-hidden class="cybr-btn__glitch">Botiga_</span>
          <span aria-hidden class="cybr-btn__tag">R02</span>
        </button>
      </div>

    </div>
  </ion-title>



  <img *ngIf="!notLogged"src="{{imatgeEscollida}}" alt="LOGO">

  <ion-input *ngIf="!notLogged"[(ngModel)]="imatgeEscollida" ></ion-input>

  <div class="example1" *ngIf="!notLogged">
    <h3>- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada malesuada nunc, euismod mollis orci interdum ac. Aenean sit amet nunc egestas, mattis metus quis, lacinia magna. Mauris in dapibus purus. Fusce suscipit lobortis finibus. Nullam id ornare ex, nec finibus est. Vestibulum in dictum urna. Aenean nec dapibus arcu.-
  
      - Proin pulvinar volutpat eleifend. Nunc dapibus pretium tellus, vel egestas neque. Proin tincidunt blandit efficitur. Aenean scelerisque, eros quis condimentum rutrum, orci augue egestas orci, in bibendum erat sapien vitae diam. Duis ligula tortor, sollicitudin sit amet ullamcorper sed, fringilla eget arcu. Sed tristique, nisi eu rhoncus mollis, nisi ex congue lacus, et facilisis nunc velit at nulla. Donec congue nulla arcu, nec consequat arcu lobortis at. Fusce elementum sit amet elit a lacinia. Nam at lacinia nisl.
      
      - Proin volutpat risus sed risus scelerisque, eget molestie augue elementum. Aliquam luctus leo ac neque suscipit, vel maximus orci blandit. In tempus purus eget mauris rhoncus, id facilisis odio consectetur. Donec eget tempor ante. Vivamus lacinia, massa quis accumsan faucibus, lorem neque iaculis leo, aliquet pharetra turpis lectus eget nunc. Duis diam ligula, vulputate in orci a, varius pellentesque arcu. Duis eu dapibus erat. Pellentesque varius gravida finibus. Curabitur at ultricies justo. Aliquam tincidunt ornare dictum. Nunc commodo lacus vitae molestie dignissim. Suspendisse eleifend massa a quam sodales, eu aliquam odio vulputate. Morbi massa risus, porta ac mauris et, congue tincidunt risus. Cras maximus, enim ut luctus placerat, quam diam venenatis eros, vitae bibendum nibh mi vel enim.
      
      - Quisque elementum purus ac diam euismod vestibulum. Cras eu arcu ultrices, faucibus est sit amet, mattis nulla. Ut vulputate dictum eros luctus consectetur. Quisque quis justo elementum, molestie tortor ac, consequat velit. Proin ullamcorper eget ante convallis ultrices. Morbi vulputate elit eget risus tincidunt, quis mollis erat tempus. Nullam sed lacinia massa, quis malesuada nunc. Nunc iaculis sed mi nec rhoncus. Proin a sodales lectus. Donec dictum tortor at felis lacinia, at tempor justo facilisis. Sed aliquet quis tellus a rhoncus. Duis eget justo metus. Aliquam iaculis aliquam justo, eget mattis sem aliquet a.
      
      - Donec sed ex efficitur, auctor quam ut, gravida massa. Donec mollis arcu varius, blandit odio eget, sagittis urna. Aenean finibus quis nunc eget consequat. Nulla sapien quam, ultricies id purus quis, ultrices lobortis turpis. Etiam lorem metus, luctus ut suscipit quis, ornare et justo. Curabitur dictum est nisl, ut tristique nulla interdum ut. Nam aliquam consequat massa, sit amet facilisis neque suscipit id. Aliquam ut sodales metus. Phasellus condimentum pharetra aliquet. Fusce sit amet tortor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
    </div>
    
  <div class="botons" *ngIf="!notLogged">

    <div class="boto1" (click)="addDiv()">
      <button class="cybr-btn">
        Notepad<span aria-hidden>+</span>
        <span aria-hidden class="cybr-btn__glitch">Notepad+</span>
        <span aria-hidden class="cybr-btn__tag">F01</span>
      </button>
    </div>
    
    <div class="boto1" (click)="changeColor()">
      <button class="cybr-btn">
        Color Font<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">Color Font</span>
        <span aria-hidden class="cybr-btn__tag">F02</span>
      </button>
    </div>
    <div class="boto1" (click)="changeNotepad()">
      <button class="cybr-btn">
        Color Notepads<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">Color Notepads</span>
        <span aria-hidden class="cybr-btn__tag">F03</span>
      </button>
    </div>
 
  </div>
  
  <div class="notepads" *ngIf="!notLogged">
    <ion-card *ngFor="let item of divsList" color="{{customColor}}">
      <span *ngIf="!item.isEdit; else elseBlock" >
        <ion-card-header color="{{customColor}}">
          <ion-item color="{{customColor}}" class="info">
            <ion-textarea [style.--color]="color" cols="70" rows="6" placeholder="Text personal..."></ion-textarea>
          </ion-item>
        </ion-card-header>
      </span>
      <ion-button color="danger" (click)="removeDiv(item)">Esborrar notepad</ion-button>
    </ion-card>
  </div>
</ion-content>
