<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Crear Treball
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="studentForm" (ngSubmit)="CreateRecord()">

    <ion-item>
      <ion-label position="floating">Carrec</ion-label>
      <ion-input formControlName="carrec"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripcio</ion-label>
      <ion-input formControlName="descripcio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número del Contacte</ion-label>
      <ion-input formControlName="numContacte"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Horari</ion-label>
      <ion-input formControlName="horari"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Salari</ion-label>
      <ion-input formControlName="salari"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imatge</ion-label>
      <ion-input formControlName="imageUrl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="CreateRecord()">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Afegir treball
      </ion-button>
    </ion-item>

  </form>


  <ion-card *ngFor="let item of studentList" color="primary">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.carrec}}</ion-card-title>
        <ion-card-subtitle>De: {{item.descripcio}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Editar
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Cancelar
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                  Actualitzar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Carrec</ion-label>
          <ion-input formControlName="carrec"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Descripcio</ion-label>
          <ion-input formControlName="descripcio"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Número del Contacte</ion-label>
          <ion-input formControlName="numContacte"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Horari</ion-label>
          <ion-input formControlName="horari"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Salari</ion-label>
          <ion-input formControlName="salari"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Imatge</ion-label>
          <ion-input formControlName="imageUrl"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>

</ion-content>