@media screen and (max-width: 500px) {
    iframe {
        width: 100%;
        height: 100%;
    }
}
  
@media screen and (min-width: 501px) {
    iframe {
        width: 100%;
        height: 100%;
    }
}