/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root[mode=ios] .NFLRedZone,
:root[mode=md] .NFLRedZone{
  --ion-font-family:  'NFLRedZone'!important;
  font-family:  'NFLRedZone' !important;
}

:root[mode=ios] .Disorder,
:root[mode=md] .Disorder{
  --ion-font-family:  'Disorder'!important;
  font-family:  'Disorder' !important;
}

:root[mode=ios] .JerseySharp,
:root[mode=md] .JerseySharp{
  --ion-font-family:  'JerseySharp'!important;
  font-family:  'JerseySharp' !important;
}

:root[mode=ios] .Quantum,
:root[mode=md] .Quantum{
  --ion-font-family:  'Quantum'!important;
  font-family:  'Quantum' !important;
}

:root[mode=ios] .SLANT,
:root[mode=md] .SLANT{
  --ion-font-family:  'SLANT'!important;
  font-family:  'SLANT' !important;
}

:root[mode=ios] .Valorant,
:root[mode=md] .Valorant{
  --ion-font-family:  'Valorant'!important;
  font-family:  'Valorant' !important;
}

:root[mode=ios] .VerminVibes,
:root[mode=md] .VerminVibes{
  --ion-font-family:  'VerminVibes'!important;
  font-family:  'VerminVibes' !important;
}

:root[mode=ios] .Cyber,
:root[mode=md] .Cyber{
  --ion-font-family:  'Cyber'!important;
  font-family:  'Cyber' !important;
}

@media screen and (max-width: 500px) {
  .my-custom-modal-css .modal-wrapper {
    width: 90%;
    height: 90%;
    position: absolute; 
    display: block;  
  }
}

@media screen and (min-width: 501px) {
  .my-custom-modal-css .modal-wrapper {
    width: 96%;
    height: 96%;
    position: absolute; 
    display: block;  
  }
}

@font-face {
  font-family: 'NFLRedZone';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/NFLRedZone.ttf');
}

@font-face {
  font-family: 'Disorder';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Disorder.ttf');
}

@font-face {
  font-family: 'JerseySharp';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/JerseySharp.ttf');
}

@font-face {
  font-family: 'Quantum';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Quantum.otf');
}

@font-face {
  font-family: 'SLANT';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/SLANT.ttf');
}

@font-face {
  font-family: 'Valorant';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Valorant.ttf');
}

@font-face {
  font-family: 'VerminVibes';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/VerminVibes.ttf');
}

@font-face {
  font-family: 'Cyber';
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}
