<ion-content>

  <img *ngIf="glitched" class="hip" src="./assets/Imagenes/glitch.gif" alt="LOGO">

  <div class="loginFULL" *ngIf="ishidden">
    
    <div class="login">
      <ion-img class="picture" [src]="picture ? picture : 'https://www.simplifai.ai/wp-content/uploads/2019/06/blank-profile-picture-973460_960_720-400x400.png'"></ion-img>
      <ion-text>
        {{ name ? name : 'Nombre de usuario' }}
      </ion-text>

      <ion-text class="saldo">
        Saldo: {{diners}}€
      </ion-text>

    </div>

    <div class="loggedGoogle" *ngIf="!logged && !glitched">
      <ion-button expand="block" color="success" (click)="loginGoogle()">
        <ion-icon class="logon" name="logo-google"></ion-icon>Iniciar Sesión con Google
      </ion-button>
    </div>

    <div class="loggedGoogle" *ngIf="logged && !glitched">
      <ion-button expand="block" color="danger" (click)="tancarGoogle()">
        <ion-icon class="logon" name="logo-google"></ion-icon>Tancar sessió
      </ion-button>
    </div>

  </div>


  <!-- OFFLINE USER -->


  <div class="toggable" *ngIf="!logged && !glitched">
    <ion-button expand="block" color="danger" (click)="toggle()">
      ACCESS THE NEW ORDER
    </ion-button>
  </div>

  <div class="toggable" *ngIf="logged && !glitched">
    <ion-button expand="block" color="success" (click)="toggle()">
      ACCESS THE NEW ORDER
    </ion-button>
  </div>

  
  
  <!-- REGULAR USER -->


  <div *ngIf="!glitched" class="boto1" (click)="goBorsa()">
    <button *ngIf="logged && !ADMIN && showMenu" class="cybr-btn">
      Borsa<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Borsa_</span>
      <span aria-hidden class="cybr-btn__tag">R01</span>
    </button>
  </div>
  <div *ngIf="!glitched  && !ishidden" class="boto2" (click)="goDefensa()">
    <button *ngIf="logged && !ADMIN && showMenu" class="cybr-btn" >
      Botiga<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Botiga_</span>
      <span aria-hidden class="cybr-btn__tag">R02</span>
    </button>
  </div>
  <div *ngIf="!glitched" class="boto3" (click)="goEspai()">
    <button *ngIf="logged && !ADMIN && showMenu"class="cybr-btn">
      Espai<span aria-hidden>_</span>
      <span aria-hidden class="cybr-btn__glitch">Espai_</span>
      <span aria-hidden class="cybr-btn__tag">R03</span>
    </button>
  </div>

  

  <!-- ADMIN USER -->


  <!-- IF NOT LOGGED-->

  <div class="join" *ngIf="!logged && !glitched">
    <p class="glitch" data-text="&#8593; JOIN US &#8593;">&#8593; JOIN US &#8593;</p>
  </div>


  <!-- message when logged -->


  <div class="menu5" *ngIf="logged && !showMenu && !glitched">
    <p class="glitch" data-text="BENVINGUT">BENVINGUT</p>
  </div>

  <div class="menu6" *ngIf="logged && !showMenu && !glitched">
    <p class="glitch" data-text="{{ name ? name : 'Nombre de usuario' }}">{{ name ? name : 'Nombre de usuario' }}</p>
  </div>

  <!-- logged hub -->

  <div class="header" *ngIf="!logged && !glitched">
    <img (click)="presentModal()" onmouseover="this.src='./assets/Imagenes/prova-reverse.gif'" onmouseout="this.src='./assets/Imagenes/prova.gif'"src="./assets/Imagenes/prova.gif" width="2000px">
    <p class="glitch" data-text="NEW ORDER">NEW ORDER</p>
    <img class="filler" src="./assets/Imagenes/homepresidentbkg.gif" alt="LOGO">
    <img class="filler" src="./assets/Imagenes/belowpresident.gif" alt="LOGO">
  </div>


  <div class="header" *ngIf="logged && !glitched">
    <img (click)="showTheMenu()" onmouseover="this.src='./assets/Imagenes/prova-reverse.gif'" onmouseout="this.src='./assets/Imagenes/prova.gif'"src="./assets/Imagenes/prova.gif" width="2000px">
    <p class="glitch" data-text="NEW ORDER">NEW ORDER</p>
    <img class="filler" src="./assets/Imagenes/homepresidentbkg.gif" alt="LOGO">
    <img class="filler" src="./assets/Imagenes/belowpresident.gif" alt="LOGO">
  </div>

  


  <div *ngIf="!glitched" class="example1">
  <h3>- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada malesuada nunc, euismod mollis orci interdum ac. Aenean sit amet nunc egestas, mattis metus quis, lacinia magna. Mauris in dapibus purus. Fusce suscipit lobortis finibus. Nullam id ornare ex, nec finibus est. Vestibulum in dictum urna. Aenean nec dapibus arcu.-

    - Proin pulvinar volutpat eleifend. Nunc dapibus pretium tellus, vel egestas neque. Proin tincidunt blandit efficitur. Aenean scelerisque, eros quis condimentum rutrum, orci augue egestas orci, in bibendum erat sapien vitae diam. Duis ligula tortor, sollicitudin sit amet ullamcorper sed, fringilla eget arcu. Sed tristique, nisi eu rhoncus mollis, nisi ex congue lacus, et facilisis nunc velit at nulla. Donec congue nulla arcu, nec consequat arcu lobortis at. Fusce elementum sit amet elit a lacinia. Nam at lacinia nisl.
    
    - Proin volutpat risus sed risus scelerisque, eget molestie augue elementum. Aliquam luctus leo ac neque suscipit, vel maximus orci blandit. In tempus purus eget mauris rhoncus, id facilisis odio consectetur. Donec eget tempor ante. Vivamus lacinia, massa quis accumsan faucibus, lorem neque iaculis leo, aliquet pharetra turpis lectus eget nunc. Duis diam ligula, vulputate in orci a, varius pellentesque arcu. Duis eu dapibus erat. Pellentesque varius gravida finibus. Curabitur at ultricies justo. Aliquam tincidunt ornare dictum. Nunc commodo lacus vitae molestie dignissim. Suspendisse eleifend massa a quam sodales, eu aliquam odio vulputate. Morbi massa risus, porta ac mauris et, congue tincidunt risus. Cras maximus, enim ut luctus placerat, quam diam venenatis eros, vitae bibendum nibh mi vel enim.
    
    - Quisque elementum purus ac diam euismod vestibulum. Cras eu arcu ultrices, faucibus est sit amet, mattis nulla. Ut vulputate dictum eros luctus consectetur. Quisque quis justo elementum, molestie tortor ac, consequat velit. Proin ullamcorper eget ante convallis ultrices. Morbi vulputate elit eget risus tincidunt, quis mollis erat tempus. Nullam sed lacinia massa, quis malesuada nunc. Nunc iaculis sed mi nec rhoncus. Proin a sodales lectus. Donec dictum tortor at felis lacinia, at tempor justo facilisis. Sed aliquet quis tellus a rhoncus. Duis eget justo metus. Aliquam iaculis aliquam justo, eget mattis sem aliquet a.
    
    - Donec sed ex efficitur, auctor quam ut, gravida massa. Donec mollis arcu varius, blandit odio eget, sagittis urna. Aenean finibus quis nunc eget consequat. Nulla sapien quam, ultricies id purus quis, ultrices lobortis turpis. Etiam lorem metus, luctus ut suscipit quis, ornare et justo. Curabitur dictum est nisl, ut tristique nulla interdum ut. Nam aliquam consequat massa, sit amet facilisis neque suscipit id. Aliquam ut sodales metus. Phasellus condimentum pharetra aliquet. Fusce sit amet tortor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
  </div>

  <div *ngIf="!glitched" class="example2">
    <h2>Copyright 	&#169; - Alejandro Campaña, Adrian Moreno, Rubén Cosp - 2021</h2>
  </div>
  


</ion-content>
