//cant enter
.fullScreen {
  width: 100%;
  height: 100%;
}

.warning {
  margin-left: 5%;
  position: absolute;
  color: red;
  font-family: NFLRedZone;
  text-shadow: 4px 4px rgb(0, 0, 0);
  font-size: 90px;
}

.botoW {
  border-left: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 25%;
  margin-left: 40%;
  position: absolute;
  background: red;
  font-size: 90px;
  height: 100px;
  text-shadow: 4px 4px rgb(0, 0, 0);
}

//las cards

.recomanat {
  font-family: Valorant;
  margin-top: 10px;
  font-size: 30px;
}

.necessari {
  font-family: Valorant;
  margin-top: 10px;
  font-size: 30px;
}

ion-card{
  width: 400px;
  height: 330px;
  box-shadow: 0 0 10px rgb(7, 88, 0);
}

.photo {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;

  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.photo img {
  width: 368px;
  height: 245px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photo:hover img {
  opacity: 0.3;
}

.photo:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.info {
  overflow-x: hidden;
  overflow-y: auto;
  height: 250px;
}


.subtituloImagen{
  font-family: Quantum;
  margin-top: 15px;
  font-size: 30px;
  text-shadow: 4px 4px rgb(0, 0, 0);
}

.baileDelDinero{
  width: 100%;
  height: 50px;
  background-color: green;
  border-right: 5px solid rgb(22, 77, 0);
  border-bottom: 5px solid rgb(22, 77, 0);
}

.baileDelDinero img {
  width: 20px;
  height: 20px;
}

ion-card-title {
  font-size: 35px;
}

ion-card-subtitle {
  text-shadow: 3px 3px rgb(0, 0, 0);
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 20px;
}




// zona central

.recommended {
  overflow:auto;
  height: 400px;
}

// trabajos

.jobs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  font-family: JerseySharp;
  font-size: 50px;
}

.item p {
  font-size: 80px;
}

.container {
  display: flex;
  margin: auto;
  width: 90%;
  text-align: center;
  font-family: JerseySharp;
  color: rgb(0, 255, 64);
  text-shadow: 4px 4px green;
  font-size: 50px;
}

.item {
  
  flex-grow: 1;
  height: 100px;
}

.item + .item {
  margin-left: 2%;
}



ion-content {
  --background: url('/assets/Imagenes/homebkg.gif');
  background-color: black;
} 




@media screen and (max-width: 900px) {

  .separator {
    background-color: rgb(0, 255, 64);
    width: 100%;
    height: 20px;
    border-right: 5px solid rgb(22, 77, 0);
    border-bottom: 5px solid rgb(22, 77, 0);
  }

  //notLogged
  .warning {
    margin-left: 5%;
    position: absolute;
    color: red;
    font-family: NFLRedZone;
    text-shadow: 4px 4px rgb(0, 0, 0);
    font-size: 80px;
  }

  .botoW{
    margin-top: 100%;
    margin-left: 20%;
  }


  //header
//las cards

.recomanat {
  font-family: Valorant;
  margin-top: 10px;
  font-size: 30px;
}

.necessari {
  font-family: Valorant;
  margin-top: 10px;
  font-size: 30px;
}

ion-card{
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px rgb(7, 88, 0);
}

.photo {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;

  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.photo img {
  width: 190px;
  height: 180px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photo:hover img {
  opacity: 0.3;
}

.photo:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.info {
  overflow-x: hidden;
  overflow-y: auto;
  height: 250px;
}


.subtituloImagen{
  font-family: Quantum;
  margin-top: 15px;
  font-size: 30px;
  text-shadow: 4px 4px rgb(0, 0, 0);
}

.baileDelDinero{
  width: 100%;
  height: 50px;
  background-color: green;
  border-right: 5px solid rgb(22, 77, 0);
  border-bottom: 5px solid rgb(22, 77, 0);
}

.baileDelDinero img {
  width: 20px;
  height: 20px;
}

ion-card-title {
  font-size: 35px;
}

ion-card-subtitle {
  text-shadow: 3px 3px rgb(0, 0, 0);
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 20px;
}

  //botons
  
  .boto1 {
    display: flex;
    float: right;
  }
  
  .boto2 {
    display: flex;
    float: right;
  }
  
  .boto3 {
    display: flex;
    float: right;
  }
  
  .headerInfo3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  .headerInfo2{
    margin-left: 7%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  
   .cybr-btn {
     margin-right: 20px;
     margin-top: 15%;
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
    --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
    --primary-hue: 111;
    --primary-lightness: 50;
    --color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px green;
    --font-size: 30px;
    --shadow-primary-hue: 180;
    --label-size: 4px;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
    --border: 10px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    font-family: 'Cyber', sans-serif;
    color: var(--color);
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    font-size: var(--font-size);
    outline: transparent;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    border: 10px;
    border-color: aqua;
    min-width: 200px;
    height: 35px;
    line-height: 15px;
    transition: background 0.2s;
  }
  
  .cybr-btn:hover {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
  }
  .cybr-btn:active {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
  }
  
  .cybr-btn:after,
  .cybr-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;
  }
  
  .cybr-btn:before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0);
  }
  
  .cybr-btn:after {
    background: var(--primary);
  }
  
  .cybr-btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    font-weight: normal;
    color: hsl(0, 0%, 100%);
    
    font-size: var(--label-size);
  }
  
  .cybr-btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch 2s infinite;
    display: none;
  }
  
  .cybr-btn:hover .cybr-btn__glitch {
    display: block;
  }
  
  .cybr-btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--clip-one);
    }
    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    9% {
      clip-path: var(--clip-two);
      transform: translate(0, 0);
    }
    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    13% {
      clip-path: var(--clip-three);
      transform: translate(0, 0);
    }
    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    25% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    30% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }
    40% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }
    50% {
      clip-path: var(--clip-six);
      transform: translate(0, 0);
    }
    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    60% {
      clip-path: var(--clip-seven);
      transform: translate(0, 0);
    }
    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }
  
  .cybr-btn:nth-of-type(2) {
    --primary-hue: 260;
  }
  
  .hip {
    width: 100%;
    height: 110px;
  }
  
  .nom {
    margin-left: 2%;
    margin-top: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px green;
  }
  
  .saldo {
    font-family: Valorant;
    margin-top: 5%;
    color:rgb(0, 255, 64);
    font-size: 30px;
    margin-right: 20%;
    text-shadow: 2px 2px green;
  }
  
  .headerInfo{
    width: 100%;
    height: 100%;
  }
  
  .headerInfo4 {
    display: none;
  }
  
  .menuOFF {
    background-color: rgb(31, 31, 31);
    border-right: 5px solid rgb(156, 156, 156);
    border-bottom: 5px solid rgb(156, 156, 156);
  }
  
  .menuON {
    background-color: green;
    border-right: 5px solid rgb(0, 255, 64);
    border-bottom: 5px solid rgb(0, 255, 64);
  }
  
  ion-title img {
    margin-top: 1%;
    float: left;
    width: 115px;
    height: 100px
  }
  
  ion-title {
    height: 120px;
  
  }
  
  
  }
  
@media screen and (min-width: 901px) {

.separator {
  background-color: rgb(0, 255, 64);
  width: 100%;
  height: 40px;
  border-right: 5px solid rgb(22, 77, 0);
  border-bottom: 5px solid rgb(22, 77, 0);
}

//las cards

.recomanat {
  font-family: Valorant;
  margin-top: 10px;
  font-size: 30px;
}

.necessari {
  font-family: Valorant;
  margin-top: 10px;
  font-size: 30px;
}

ion-card{
  overflow-x: hidden;
  overflow-y: auto;
  width: 400px;
  height: 330px;
  box-shadow: 0 0 10px rgb(7, 88, 0);
}

.photo {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;

  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.photo img {
  width: 368px;
  height: 245px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photo:hover img {
  opacity: 0.3;
}

.photo:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.info {
  overflow-x: hidden;
  overflow-y: auto;
  height: 250px;
}


.subtituloImagen{
  font-family: Quantum;
  margin-top: 15px;
  font-size: 30px;
  text-shadow: 4px 4px rgb(0, 0, 0);
}

.baileDelDinero{
  width: 100%;
  height: 50px;
  background-color: green;
  border-right: 5px solid rgb(22, 77, 0);
  border-bottom: 5px solid rgb(22, 77, 0);
}

.baileDelDinero img {
  width: 20px;
  height: 20px;
}

ion-card-title {
  font-size: 35px;
}

ion-card-subtitle {
  text-shadow: 3px 3px rgb(0, 0, 0);
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 20px;
}


  //header
  
  //botons
  
  .boto1 {
    display: flex;
    margin-right: 10%;
    float: right;
  }
  
  .boto2 {
    display: flex;
    margin-right: 10%;
    float: right;
  }
  
  .boto3 {
    display: flex;
    margin-right: 10%;
    float: right;
  }
  
  
   .cybr-btn {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
    --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
    --primary-hue: 111;
    --primary-lightness: 50;
    --color: hsl(0, 0%, 100%);
    --font-size: 26px;
    --shadow-primary-hue: 180;
    --label-size: 9px;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
    --border: 4px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    font-family: 'Cyber', sans-serif;
    color: var(--color);
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    font-size: var(--font-size);
    outline: transparent;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    border: 0;
    min-width: 300px;
    height: 75px;
    line-height: 75px;
    transition: background 0.2s;
  }
  
  .cybr-btn:hover {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
  }
  .cybr-btn:active {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
  }
  
  .cybr-btn:after,
  .cybr-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;
  }
  
  .cybr-btn:before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0);
  }
  
  .cybr-btn:after {
    background: var(--primary);
  }
  
  .cybr-btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    font-weight: normal;
    color: hsl(0, 0%, 100%);
    font-size: var(--label-size);
  }
  
  .cybr-btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch 2s infinite;
    display: none;
  }
  
  .cybr-btn:hover .cybr-btn__glitch {
    display: block;
  }
  
  .cybr-btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--clip-one);
    }
    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    9% {
      clip-path: var(--clip-two);
      transform: translate(0, 0);
    }
    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    13% {
      clip-path: var(--clip-three);
      transform: translate(0, 0);
    }
    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    25% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    30% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }
    40% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }
    50% {
      clip-path: var(--clip-six);
      transform: translate(0, 0);
    }
    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    60% {
      clip-path: var(--clip-seven);
      transform: translate(0, 0);
    }
    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }
  
  .cybr-btn:nth-of-type(2) {
    --primary-hue: 260;
  }
  
  .hip {
    width: 100%;
    height: 110px;
  }
  
  .nom {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-shadow: 4px 4px green;
  }
  
  .saldo {
    font-family: Valorant;
    color:rgb(0, 255, 64);
    font-size: 50px;
    margin-right: 20%;
    text-shadow: 4px 4px green;
  }
  
  .headerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .headerInfo4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  
  .headerInfo3{
    display: none;
  }
  
  .menuOFF {
    background-color: rgb(31, 31, 31);
    border-right: 5px solid rgb(156, 156, 156);
    border-bottom: 5px solid rgb(156, 156, 156);
  }
  
  .menuON {
    background-color: green;
    border-right: 5px solid rgb(0, 255, 64);
    border-bottom: 5px solid rgb(0, 255, 64);
  }
  
  ion-title img {
    width: 130px;
    height: 90px
  }
  
  ion-title {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 114px;
  
  }
  
  }
  
  