<ion-header>
</ion-header>

<ion-content>
  
    <img *ngIf="glitched" class="hip" src="./assets/Imagenes/glitch.gif" alt="LOGO">

    <p *ngIf="notLogged" class="warning">NOT LOGGED IN</p>
    <div *ngIf="notLogged" class="botoW" (click)="goHome()">
        GO HOME
    </div>
    <img *ngIf="notLogged" class="fullScreen" src="./assets/Imagenes/notLogged.gif" alt="notLogged"> 

    

    <ion-title *ngIf="menuOFF && !glitched && !notLogged" class="menuOFF">
      <div class="headerInfo3">
        <img (click)="showTheMenu()" onmouseout="this.src='./assets/Imagenes/logo.png'" onmouseover="this.src='./assets/Imagenes/logoHoverTransparenteNegro.gif'"src="./assets/Imagenes/logo.png" alt="LOGO">
        <div class="headerInfo2">
          <div class="nom">
            {{nombre}}
          </div>
    
          <div class="saldo">
            Saldo: {{saldo}}
          </div>
        </div>
      </div>
      <div class="headerInfo4">
        <img (click)="showTheMenu()" onmouseout="this.src='./assets/Imagenes/logo.png'" onmouseover="this.src='./assets/Imagenes/logoHoverTransparenteNegro.gif'"src="./assets/Imagenes/logo.png" alt="LOGO">
          <div class="nom">
            {{nombre}}
          </div>
    
          <div class="saldo">
            Saldo: {{saldo}}
          </div>
      </div>
    </ion-title>

    <ion-title *ngIf="!menuOFF && !glitched  && !notLogged" class="menuON">
      <div class="headerInfo">
        <img (click)="showTheMenu()" onmouseout="this.src='./assets/Imagenes/logoVerde.png'" onmouseover="this.src='./assets/Imagenes/logoHoverTransparenteVerde.gif'" src="./assets/Imagenes/logoVerde.png" alt="LOGO">
      
        <div class="boto1" (click)="goHome()"> 
          <button class="cybr-btn">
            Principal<span aria-hidden>_</span>
            <span aria-hidden class="cybr-btn__glitch">Principal_</span>
            <span aria-hidden class="cybr-btn__tag">R00</span>
          </button>
        </div>
        <div class="boto2" (click)="goDefensa()">
          <button class="cybr-btn" >
            Botiga<span aria-hidden>_</span>
            <span aria-hidden class="cybr-btn__glitch">Botiga_</span>
            <span aria-hidden class="cybr-btn__tag">R02</span>
          </button>
        </div>
        <div class="boto3" (click)="goEspai()">
          <button class="cybr-btn">
            Espai<span aria-hidden>_</span>
            <span aria-hidden class="cybr-btn__glitch">Espai_</span>
            <span aria-hidden class="cybr-btn__tag">R03</span>
          </button>
        </div>

      </div>
    </ion-title>

    <div class="recommended" *ngIf="!notLogged">
      <div class="container">
        <!-- LEFT -->
        <div class="item">
          <div class="recomanat">Treball Recomanat</div>
          <ion-card color="light">
              <span *ngIf="!job1.isEdit; else elseBlock">
                <ion-card-header>
                  <div *ngIf="!job1c" (click)="job1c = true">
                    <div class="photo">
                      <img src="{{job1.imageUrl}}" alt="Imatge de empresa">
                      <div class="middle">
                        <div class="text">Més informació</div>
                      </div>
                    </div>
                    <div class="subtituloImagen">
                      {{job1.carrec}}
                    </div>
                  </div>
                  <div *ngIf="job1c" (click)="job1c = false" class="info">
                    <ion-card-title>Cárrec: {{job1.carrec}}</ion-card-title>
                    <ion-card-subtitle>Tarea: {{job1.descripcio}}</ion-card-subtitle>
                    <ion-card-subtitle>Nº del Contacte: {{job1.numContacte}}</ion-card-subtitle>
                    <ion-card-subtitle>Email del Contacte: {{job1.email}}</ion-card-subtitle>
                    <ion-card-subtitle>Horari semanal: {{job1.horari}}</ion-card-subtitle>
                    <ion-card-subtitle>Salari brut anual: {{job1.salari}}</ion-card-subtitle>
                  </div>
                  <div *ngIf="job1c" class="baileDelDinero" (click)="getJob(job1.salari)">
                    <br>
                    <span *ngIf="!job1.bought && !cargando" (click)="job1.bought = true" >DEMANAR TREBALL</span>
                    <img *ngIf="cargando" src="./assets/Imagenes/loading.gif" alt="Cargando">
                    <img *ngIf="job1.bought && !cargando" src="./assets/Imagenes/whiteTick.png" alt="Conseguido">
                  </div>
                </ion-card-header>
              </span>
          </ion-card>
        </div>
        <!-- MIDDLE -->
        <div class="item">
          <p>
            New Order Work
          </p>
        </div>
        <!-- RIGHT -->
        <div class="item">
          <div class="necessari">Treball necessari</div>
          <ion-card color="light">
            <span *ngIf="!job2.isEdit; else elseBlock">
              <ion-card-header>
                <div *ngIf="!job2c" (click)="job2c = true">
                  <div class="photo">
                    <img src="{{job2.imageUrl}}" alt="Imatge de empresa">
                    <div class="middle">
                      <div class="text">Més informació</div>
                    </div>
                  </div>
                  <div class="subtituloImagen">
                    {{job2.carrec}}
                  </div>
                </div>
                <div *ngIf="job2c" (click)="job2c = false"  class="info">
                  <ion-card-title>Cárrec: {{job2.carrec}}</ion-card-title>
                  <ion-card-subtitle>Tarea: {{job2.descripcio}}</ion-card-subtitle>
                  <ion-card-subtitle>Nº del Contacte: {{job2.numContacte}}</ion-card-subtitle>
                  <ion-card-subtitle>Email del Contacte: {{job2.email}}</ion-card-subtitle>
                  <ion-card-subtitle>Horari semanal: {{job2.horari}}</ion-card-subtitle>
                  <ion-card-subtitle>Salari brut anual: {{job2.salari}}</ion-card-subtitle>
                </div>
                <div *ngIf="job2c" class="baileDelDinero" (click)="getJob(job2.salari)">
                  <br>
                  <span *ngIf="!job2.bought && !cargando" (click)="job2.bought = true" >DEMANAR TREBALL</span>
                  <img *ngIf="cargando" src="./assets/Imagenes/loading.gif" alt="Cargando">
                  <img *ngIf="job2.bought && !cargando" src="./assets/Imagenes/whiteTick.png" alt="Conseguido">
                </div>
              </ion-card-header>
            </span>
        </ion-card>
        </div>
      </div>
  </div>
  
  <div class="separator"></div>

  <div class="jobs" *ngIf="!notLogged">
  <ion-card *ngFor="let item of studentList" color="light">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <div *ngIf="!item.clicked" (click)="item.clicked = true">
          <div class="photo">
            <img src="{{item.imageUrl}}" alt="Imatge de empresa">
            <div class="middle">
              <div class="text">Més informació</div>
            </div>
          </div>
          <div class="subtituloImagen">
            {{item.carrec}}
          </div>
        </div>
        <div *ngIf="item.clicked" (click)="item.clicked = false"  class="info">
          <ion-card-title>Cárrec: {{item.carrec}}</ion-card-title>
          <ion-card-subtitle>Tarea: {{item.descripcio}}</ion-card-subtitle>
          <ion-card-subtitle>Nº del Contacte: {{item.numContacte}}</ion-card-subtitle>
          <ion-card-subtitle>Email del Contacte: {{item.email}}</ion-card-subtitle>
          <ion-card-subtitle>Horari semanal: {{item.horari}}</ion-card-subtitle>
          <ion-card-subtitle>Salari brut anual: {{item.salari}}</ion-card-subtitle>
        </div>
        <div *ngIf="item.clicked" class="baileDelDinero" (click)="getJob(item.salari)">
          <br>
          <span *ngIf="!item.bought && !cargando" (click)="item.bought = true">DEMANAR TREBALL</span>
          <img *ngIf="cargando" src="./assets/Imagenes/loading.gif" alt="Cargando">
          <img *ngIf="item.bought && !cargando" src="./assets/Imagenes/whiteTick.png" alt="Conseguido">
        </div>
      </ion-card-header>
    </span>
  </ion-card>
  </div>

</ion-content>
